<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Personal Loan">
        <parameter name="URL" value="personalloan.com"/>
        <classes>
            <class name="TestNGTutorial.Demo">
                <methods>
                    <exclude name="Demo"></exclude>
                </methods>
            </class>
            <class name="TestNGTutorial.Demo2"></class>
            <class name="TestNGTutorial.LoginHome"></class>
        </classes>
    </test>

    <test name="Car Loan">
        <parameter name="URL" value="carloan.com"/>
        <parameter name="APIKey/username" value="123456"/>
        <classes>
            <class name="TestNGTutorial.LoginCar"></class>
        </classes>
    </test>

</suite>