<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/appium-mobile-testing-from-scratch-frameworks/src/test/java/TestNGTutorial">
        <classes>
            <class name="TestNGTutorial.demo">
                <methods>
                    <include name="Demo"/>
                    <include name="SecondTest"/>
                </methods>
            </class>
            <class name="TestNGTutorial.demo2">
                <methods>
                    <include name="Demo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>