<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Personal Loan">
        <classes>
            <class name="TestNGTutorial.Demo">
                <methods>
                    <exclude name="Demo"></exclude>
                </methods>
            </class>
            <class name="TestNGTutorial.Demo2"></class>
            <class name="TestNGTutorial.LoginHome"></class>
        </classes>
    </test>

    <test name="Car Loan">
        <classes>
            <class name="TestNGTutorial.LoginCar">
                <methods>
                    <exclude name="Mobile.*"></exclude>
                </methods>
            </class>
        </classes>
    </test>

</suite>